* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#container {
  padding-top: 15em;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: yellow;
}

table {
  color: black;
  font-weight: bold;
  padding: 4rem 0rem;
  border: 10px solid black;
  border-radius: 5px;
  font-size: 1.5rem;
  background: white;
}

th {
  padding-bottom: 1rem;
}

td {
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
